language: c

before_install:
  - curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
  - chmod 755 ./travis-tool.sh
  - ./travis-tool.sh bootstrap
  - git clone https://github.com/soc504-s2015-princeton/scripts.git

install:
  - ./travis-tool.sh github_package soc504-s2015-princeton/lintr

script: ./scripts/travis-linter.sh
